/* Import Font Style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@100;300;400;700&family=Rubik:ital,wght@0,300;0,400;0,500;1,800&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;
    background-color: aquamarine;
}

.header {
  padding: 2em;
  display: flex;
  justify-content: flex-end;

    
}

.search {
    background-color: transparent;
    border: 2px solid #fff;
    padding: 0.5rem 1rem;
}

.search:focus {
    outline: 0;
    background-color: beige;
}

.search::placeholder{
    color: #73785c;
}

#main{
    display: flex;
}

.movie{
    width: 300px;
}



.movie img {
    width: 100%;
}


